@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.App {
  width: 80rem;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
}