/* ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0 2rem;
  align-items: center;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #2a7796;
  font-size: 18px;
}

nav .logo-link {
  display: flex;
  font-weight: 800;
}

nav .logo-link p {
  margin-left: .5rem;
} */