ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav .logo-link {
  display: flex;
  font-family: "Manrope", "Manrope Placeholder", sans-serif
}